* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container {
    /* text-align: center; */
    position: relative;
    margin: 4% auto;
    width: 360px;
    height: 660px;
    border: 1.5px solid #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}

.header {
    position: relative;
    padding: 25px;
    width: 100%;
    background: linear-gradient(to right, #08147658, #41bd4ba1);
    color: rgba(73, 39, 194, 0.851);
    text-align: center;
    line-height: 25px !important;
}

h1 {
    text-transform: uppercase;
}

.todo-body::-webkit-scrollbar {
    background: transparent;
    width: 1px;
}

